.my-card{
    box-shadow: var(--shadow);
    margin: 1rem;
    border-radius: 0.5rem;
    min-width: 300px;
    padding: 0.2rem !important;
    font-family: "Montserrat",sans-serif !important;
    flex: 1;
    

}

.ant-card-head-title{
    margin: 0 !important;
    font-weight: 600;
}

.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    /* width: 90%; */
    flex-wrap: wrap;
    gap: 16px;

}

.my-card p{
    margin: 0;
}